#CircleMB {
    margin-left:auto; 
    margin-right:auto; 
/*    width: 500px;
    height: 500px;*/
    position: relative;

}

#CircleMB img{
    position: absolute;
    width: 15%;
    height: 15%;
}

#MiddleBubble {
  text-align:center;
  vertical-align:top;
/*  background: url(/img/manuelb.jpeg);*/
  background-repeat: no-repeat;
/*  background-size: cover;*/
  height:50%;       
  width: 50%;   
  margin: auto;
  position: absolute;
  border-radius:50% 50% 50% 50%;
  font-size: 100%;
}

#BubbleText {
  text-align:center;
  /*margin: auto;*/
   color: #C3B091    ; 
  font-size: 100%;
  height:50%;       
  width: 100%;   

}
