body {
    background-color: #45505D;
}

a {
    color: var(--textcolor);
    text-decoration:none;
}


a:link {
    color: #94A3B4;
    text-decoration:none;
}

a:visited {
    color: #94A3B4;
    text-decoration:underline;
}

a:hover {
    color: #94A3B4;
    text-decoration:underline;
}

p {
    text-decoration:none;
}

h1 {
    color: #94A3B4;
    font-size: 250%;
    margin-bottom:.8em;
    line-height: 1.4em;
}

h2 {
    color: #94A3B4;
    font-size: 150%;
}


.home_page {
    display:inline;
    text-align: center;
}

.roundedImage {
    clear: both;
    width: 400px;
    height: 400px;
    border-radius:50% 50% 50% 50%; 
    text-align: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}