body {
    background-color: #45505D;
}

a {
    color: var(--textcolor);
    text-decoration:none;
}


a:link {
    color: #94A3B4;
    text-decoration:none;
}

a:visited {
    color: #94A3B4;
    text-decoration:underline;
}

a:hover {
    color: #C3B091;
    text-decoration:underline;
}

p {
    text-decoration:none;
}

h1 {
    color: #94A3B4;
    font-size: 250%;
    margin-bottom:.8em;
    line-height: 1.4em;
}

h2 {
    color: #94A3B4;
    font-size: 150%;
}


.home_page {
    display:inline;
    text-align: center;
}

/*#mainContainer{ width: 100%; text-align:center;}*/

#divCircle {
    margin-left:auto; 
    margin-right:auto; 
    width: 500px;
    height: 500px;  
    position: relative;

}

#divCircle img{
    position: absolute;
    width: 15%;
    height: 15%;
}

#middleBubble {
  text-align:center;
  vertical-align:top;
  background: url(/img/manuelb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height:50%;       
  width: 50%;   
  margin: auto;
  position: absolute;
  text-align:center;
  border-radius:50% 50% 50% 50%; 
}

#middleBubbletext {
  text-align:center;
  vertical-align:top;
  color: #C3B091; /*#6d6e71*/
  font-size: 2em;
  height:50%;       
  width: 50%;   
  margin: auto;
  position: absolute;
  text-align:center;
  border-radius:50% 50% 50% 50%; 
}

#middleBubble b{
    font-size: 1.2em;
}

#middleBubble p{
    margin: 2em;
}