<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://manuelbonilla.github.com">Manuel Bonilla Blog</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://manuelbonilla.github.com"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://github.com/manuelbonilla" rel="tooltip" title="Go to github.com/manuelbonilla" target="_blank">GitHub</a></li>
					</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="http://manuelbonilla.github.com/platform_kuka/" rel="tooltip" title="Go to platform_kuka folder for codes" target="_blank">Kuka Platform</a></li>					
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>
