
<p>Some of the projects I've worked on are:</p>
<ul class="publications">
	<li><a href="http://softmanipulation.eu//">SOMA</a>
	<li><a href="http://www.pacman-project.eu/">PACMAN</a>
	<li><a href="http://www.walk-man.eu/">WALK-MAN</a>
	<li><a href="http://www.roblog.eu/">RobLog</a>
	<li><a href="http://www.thehandembodied.eu/">THE</a>
	<li><a href="http://www.softhands.eu/project.html">SoftHands</a>
	<li><a href="https://iliad-project.eu/">ILIAD</a>
	<li><a href="https://www.smart-shoes.it/it/il-progetto/">SMARTSHOES</a>
</ul>

