
<ul class="publications">

	<li><b>M. Bonilla</b> [2015], <i>Constrained Motion Planning and Execution for Soft Robots</i>, PhD. Thesis, University of Pisa, Italy. 
	<a href="https://drive.google.com/file/d/0B8UoDN_UhTV2Q0JqNXdqTC1GRVE/view?usp=sharing"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b>, D. Resasco, M. Gabiccini and A. Bicchi. <i>Grasp Planning with Soft Hands using Bounding Box Object Decomposition</i>, in 2015 IEEE Int. Conference on Intelligent Robots and Systems (IROS), Hamburg, Germany, Sep 28 - Oct 2, Accepted for Publication. 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2015_brgb_iros.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b>, E. Farnioli, L. Pallottino and A. Bicchi. <i>Sample-Based Motion Planning for Robot Manipulators with Closed Kinematic Chains</i>, in 2015 IEEE Int. Conference on Robotics and Automation (ICRA), Seattle, USA, May 26 - 31, In press. 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/bfpb_icra15.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>
	
	<li><b>M. Bonilla</b>, E. Farnioli, M. G. Catalano, G. Grioli, M. Garabini, M. Gabiccini and A. Bicchi. <i>Grasping with Soft Hands</i>, in 2014 IEEE-RAS Int. Conference on Humanoid Robots (Humanoids), Madrid, Spain, November 18 - 20, In Press. 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2014_BFPCGGGB_HUMANOIDS.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=sLzc8xqdqWY"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>

	<li>N. Vaskevicius, C. Atanas, <b>M. Bonilla</b>, V. Tincani, T. Stoyanov, G. Fantoni, K. Pathak, A. J. Lilienthal, A. Bicchi and A. Birk. <i>Object Recognition and Localization for Robust Grasping with a Dexterous Gripper in the Context of Container Unloading</i>. 2014 IEEE International Conference on Automation Science and Engineering. 
	<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6899490&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6899490"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li>R. Krug, T. Stoyanov, <b>M. Bonilla</b>, V. Tincani, N. Vaskeviciusz, G. Fantoni, A. Birkz, A. Lilienthal and A. Bicchi. <i>Velvet Fingers: Grasp Planning and Execution for an Underactuated Gripper with Active Surfaces</i>, in 2014 IEEE Int. Conference on Robotics and Automation (ICRA), Hong Kong, May 31 2014-June 7 2014, 2014 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2014_KSBTVFBLB_ICRA.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li>V. Tincani, G. Grioli, M. G. Catalano, <b>M. Bonilla</b>, M. Garabini, G. Fantoni and A. Bicchi. <i>Controlling the active surfaces of the Velvet Fingers: sticky to slippy fingers</i>, in 2013 IEEE Int. Conference on Intelligent Robots and Systems (IROS), Tokyo, Japan, 2013, pp. 5494 - 5499  
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2013_TGCBFB_IROS.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li>E. Farnioli, M. Gabiccini, <b>M. Bonilla</b> and A. Bicchi. <i>Grasp Compliance Regulation in Synergistically Controlled Robotic Hands with VSA</i>, in 2013 IEEE Int. Conference on Intelligent Robots and Systems (IROS), Tokyo, Japan, pp. 3015 -3022 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2013_FGBB_IROS.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b> [2011], <i> Sistema Róbotico Cooperativo en Tiempo-Real con Interfaz Bimanual Háptica</i>. MsC. Thesis, CINVESTAV-IPN Mexico.
	<a href="https://drive.google.com/file/d/0B8UoDN_UhTV2QVExWXAxNE1xbGs/view?usp=sharing"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=_i3bxVilTk8"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=db4L-UotKmU"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=JkKtPAoTOzc"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b>, V. Parra-Vega, F. J. Ruiz-Sanchez. <i>H^2IL Co-simulation of Cooperative Robots based on ADAMS, MATLAB and a haptic interface</i>, National Congress of the Automatic Control Mexican Association, celebrated on Puerto Vallarta, Jalisco. México, October 2010 
	<a href="/papers/amca2010_paper.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=mKtb4iqI4jc"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>
	
</ul>

