
<ul class="publications">

	<li> <i>Design, Implementation and Control of the Velvet Fingers Dexterous Grippe</i>, International Journal of Robotics Research  2015 (Submitted)
	</li>


	<li> G. Averta, F. Angelini, <b>M. Bonilla</b>, M. Bianchi and A. Bicchi, <i>Incrementality and Hierarchies in the Enrollment of Multiple Synergies for Grasp Planning,</i> in IEEE Robotics and Automation Letters 2018.
	</li>

	<li>G M Gasparri, S. Manara, D. Caporale, G. Averta, <b>M. Bonilla</b>, H. Marino, M. G. Catalano, G. Grioli, M. Bianchi, A. Bicchi, M. Garabini, "Efficient Walking Gait Generation via Principal Component Representation of Optimal Trajectories: Application to a Planar Biped Robot With Elastic Joints," in IEEE Robotics and Automation Letters, vol. 3, no. 3, pp. 2299-2306, July 2018.<a href="http://www.centropiaggio.unipi.it/sites/default/files/08294205.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>


	<li><b>M. Bonilla</b>, L. Pallottino and A. Bicchi, "Noninteracting constrained motion planning and control for robot manipulators," 2017 IEEE International Conference on Robotics and Automation (ICRA), Singapore, 2017, pp. 4038-4043.<a href="http://www.centropiaggio.unipi.it/sites/default/files/2017_bpb_icra.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li>C. Della Santina, Piazza, C, Gasparri, GM, <b>Bonilla, M</b>, Catalano, MG, Grioli, G, Garabini, M, Bicchi, A, "The Quest for Natural Machine Motion: An Open Platform to Fast-Prototyping Articulated Soft Robots," in IEEE Robotics & Automation Magazine, vol. 24, no. 1, pp. 48-56, March 2017.<a href="http://www.centropiaggio.unipi.it/sites/default/files/2017_ram_dellasantina.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>


	<li> T. Stoyanov and N. Vaskevicius and C. A. Mueller and T. Fromm and R. Krug and V. Tincani and R. Mojtahedzadeh and S. Kunaschk and R. Mortensen Ernits and D. R. Canelhas and <b>M. Bonilla</b> and S. Schwertfeger and M. Bonini and H. Halfar and K. Pathak and M. Rohde and G. Fantoni and A. Bicchi and A. Birk and A. J. Lilienthal and W. Echelmeyer <i>No More Heavy Lifting: Robotic Solutions to the Container Unloading Problem</i>, IEEE Robotics & Automation Magazine, vol. 23, no. 4, pp. 94-106, Dec. 2016 <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7553531"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b> [2015], <i>Constrained Motion Planning and Execution for Soft Robots</i>, PhD. Thesis, University of Pisa, Italy. 
	<a href="https://drive.google.com/file/d/0B8UoDN_UhTV2Q0JqNXdqTC1GRVE/view?usp=sharing"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=F6qSHj0ErKg"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b>, D. Resasco, M. Gabiccini and A. Bicchi. <i>Grasp Planning with Soft Hands using Bounding Box Object Decomposition</i>, in 2015 IEEE Int. Conference on Intelligent Robots and Systems (IROS), Hamburg, Germany, Sep 28 - Oct 2
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2015_brgb_iros.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=9ShZIdZKENU"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b>, E. Farnioli, L. Pallottino and A. Bicchi. <i>Sample-Based Motion Planning for Robot Manipulators with Closed Kinematic Chains</i>, in 2015 IEEE Int. Conference on Robotics and Automation (ICRA), Seattle, WA, 2015, pp. 2522-2527. 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/bfpb_icra15.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>
	
	<li><b>M. Bonilla</b>, E. Farnioli, M. G. Catalano, G. Grioli, M. Garabini, M. Gabiccini and A. Bicchi. <i>Grasping with Soft Hands</i>, in 2014 IEEE-RAS Int. Conference on Humanoid Robots (Humanoids), Madrid, 2014, pp. 581-587. 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2014_BFPCGGGB_HUMANOIDS.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=sLzc8xqdqWY"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>

	<li>N. Vaskevicius, C. Atanas, <b>M. Bonilla</b>, V. Tincani, T. Stoyanov, G. Fantoni, K. Pathak, A. J. Lilienthal, A. Bicchi and A. Birk. <i>Object Recognition and Localization for Robust Grasping with a Dexterous Gripper in the Context of Container Unloading</i>. 2014 IEEE International Conference on Automation Science and Engineering. 
	<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6899490&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6899490"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li>R. Krug, T. Stoyanov, <b>M. Bonilla</b>, V. Tincani, N. Vaskeviciusz, G. Fantoni, A. Birkz, A. Lilienthal and A. Bicchi. <i>Velvet Fingers: Grasp Planning and Execution for an Underactuated Gripper with Active Surfaces</i>, in 2014 IEEE Int. Conference on Robotics and Automation (ICRA), Hong Kong, May 31 2014-June 7 2014, 2014 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2014_KSBTVFBLB_ICRA.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li>V. Tincani, G. Grioli, M. G. Catalano, <b>M. Bonilla</b>, M. Garabini, G. Fantoni and A. Bicchi. <i>Controlling the active surfaces of the Velvet Fingers: sticky to slippy fingers</i>, in 2013 IEEE Int. Conference on Intelligent Robots and Systems (IROS), Tokyo, Japan, 2013, pp. 5494 - 5499  
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2013_TGCBFB_IROS.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=8NvcdLBT7Dk"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>

	<li>E. Farnioli, M. Gabiccini, <b>M. Bonilla</b> and A. Bicchi. <i>Grasp Compliance Regulation in Synergistically Controlled Robotic Hands with VSA</i>, in 2013 IEEE Int. Conference on Intelligent Robots and Systems (IROS), Tokyo, Japan, pp. 3015 -3022 
	<a href="http://www.centropiaggio.unipi.it/sites/default/files/2013_FGBB_IROS.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b> [2011], <i> Sistema Róbotico Cooperativo en Tiempo-Real con Interfaz Bimanual Háptica</i>. MsC. Thesis, CINVESTAV-IPN Mexico.
	<a href="https://drive.google.com/file/d/0B8UoDN_UhTV2QVExWXAxNE1xbGs/view?usp=sharing"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=_i3bxVilTk8"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=db4L-UotKmU"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=JkKtPAoTOzc"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>

	<li><b>M. Bonilla</b>, V. Parra-Vega, F. J. Ruiz-Sanchez. <i>H^2IL Co-simulation of Cooperative Robots based on ADAMS, MATLAB and a haptic interface</i>, National Congress of the Automatic Control Mexican Association, celebrated on Puerto Vallarta, Jalisco. México, October 2010 
	<a href="/papers/amca2010_paper.pdf"><img class="pdf" src="/img/pdf_icon_tiny.gif" alt="pdf"></a>
	<a href="https://www.youtube.com/watch?v=mKtb4iqI4jc"><img class="pdf" src="/img/youtube_icon.png" alt="pdf"></a>
	</li>
	
</ul>

