<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/mb.ico" />
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/circle.css">
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/circlemb.js"></script>
</head>

<body>
    <h1 style="text-align: center">Manuel Bonilla</h1>
    <div id="CircleMB" style="width: 500px; height: 500px">
        <a href="/">
            <div id="MiddleBubble" style="background: url(/img/manuelb.jpeg); background-size: cover">&nbsp;</div>
        </a>
        <a href="/socialmedia/">
            <img src="/img/socialmedia-icon-off.png" id="socialmedia"  data-bubble1="Social Media">
        </a>
        <a href="/contact/">
            <img src="/img/email_home-icon-off.png" id="email_home" data-bubble1="Contact" >
        </a>
        <img src="/img/blog_home-icon-off.png" id="blog_home" data-bubble1="Blog" >
        <a href="/aboutme/">
            <img src="/img/about-icon-off.png" id="about" data-bubble1="About me" >
        </a>
        <a href="/">
            <img src="/img/home-icon-off.png" id="home" data-bubble1="Home" >
        </a>
        <div id="BubbleText"></div>
    </div>

    {{ content }}

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60727341-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
